.container1{
    max-width: 450px;
    margin: 50px auto;
    padding:0 1em;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.support-info {
    margin-top: 15px;
    text-align: center;
}

.support-info p {
    margin: 5px 0;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-media a {
    margin: 0 10px;
    color: #007BFF;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}
